body {
  #background: red;
  padding-top:50px;
}
.starter-template {
  padding :40px 15px;
  text-align :center;
}

.row
{
  margin-right:-15px;
  margin-left:15px;
}

.blue
{
	background: blue;
}
.green
{
background: green;
}
